*{
    padding: 0;
    margin: 0;
}

#vertical{
    border: 5px double red;
    width: 25px;
}

#exclusivo{
    border: 5px double magenta;
    background-color: brown;
    
    display: flex;
    flex-direction: column;
    align-items: start;

}



html, body{
    height: 100%;
}

